* {
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #333333;
}

.grid-container {
    display: grid;
    grid-template-columns: 75% 24%;
    gap: 1%;
}

.grid-item {
    background-color: rgba(255, 255, 255, .9);
    /*  border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    border: 1px dashed black;
    border-radius: 10px;
}

table {
    min-width: 200px;
    float: left;
}

td {
    padding-right: 15px;
}

.download:hover {
    transform: scale(1.25);
}

main {
    width: 75%;
    margin: 0 auto;
    float: center;
    padding: 25px;
}

header {
    font-size: 20px;
    background-color: lightblue;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    padding: 5px;
}

footer {
    background-color: lightblue;
    text-align: center;
    font-size: 11px;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    position: absolute;
    margin-top: 250px;
}

#downloadArea {
    display: grid;
    gap: 1%;
    grid-template-columns: auto 15%;
    margin-top: 1%;
    padding: 15px;
    border-radius: 10px;
}

textarea {
    font-size: 22px;
    padding: 10px;
    border: 1px dashed black;
    font-family: inherit;
    height: 50px;
    resize: none;
    width: 100%;
    border-radius: 10px;
}

#btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:hover {
    color: red;
}

#btn:hover {
    background-color: #333333;
}